.InformationItem {
    flex: 1;
    padding: 20px 32px;
    padding-bottom: 48px;
    overflow-y: auto;
    /* border : 1px solid black; */
    margin : 10px;
    border-radius:7px;
    transition: all 1.5s cubic-bezier(.25,.8,.25,1);
    animation: fade-in 2s;
}

.InformationItem img {
  max-width: 20rem;
  min-width: 20rem;
  max-height: 20rem;
  min-height: 20rem;
  transition: all 1.0s cubic-bezier(.25,.8,.25,1);
}

.InformationItem img:hover {
  transform: scale(1.1);
}

.Information-Container{
    flex: 1;
    padding: 20px 32px;
    padding-bottom: 48px;
    overflow-y: auto;
    text-align: center;
}

.imageText {
  
}

.details {
}

.children {
}

.link {
}

/* width가 800px 이상일 때 적용되는 css */
@media (min-width: 800px) {
    .container {
      display: grid;
      background-color: white;
      
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 5%;
      padding-top: 5%;
      
      grid-auto-rows: minmax(100px, auto);
      grid-template-columns: 500px;
    }
  }
  
  /* width가 800px 이하일 때 적용되는 css */
  @media (max-width: 800px) {
    .container {
      display: grid;
      background-color: white;
      
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 5%;
      padding-top: 5%;
      
      grid-auto-rows: minmax(100px, auto);
      grid-template-columns: 1fr 1fr;
    }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}