/* 구글 폰트 import (500 medium) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 전체를 감싸는 클래스 */
.click-content-container {
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

/* 맨 위에 영역 */
.header{
  font-family: 'Black Han Sans', sans-serif;
  color: white;
  background-color: rgb(247, 189, 83);
  padding: 3%;
  font-size: 3rem;
  animation: fade-in 1s;
  transition: all 0.5s ease;
}

/* 설명 쓰는 부분 */
.information{
  font-family: 'Gamja Flower', cursive;
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  width: 40%;
  margin: 2% auto;
  padding: 20px;
  transition: all 0.5s ease;	
}

.information:hover {
  transform: scale(1.05);
}

/* 세분화한 곳 (ex : 프론트엔드, 백엔드 ) */
.text {
  font-family: 'Stylish', sans-serif;
  background-color: rgb(248, 221, 112);
  color: white;
  padding: 1%;
  font-size: 2.5rem;
  animation: fade-in 2s;
  transition: all 0.5s ease;
}

.text_title,
.header_title{
  transition: all 0.5s ease;
  width: 90%;
  margin: 0 auto;
}

.text_title:hover,
.header_title:hover{
  transform: scale(1.1);
}

/* 컨텐츠들 보여주는 곳 */
/* width가 800px 이상일 때 적용되는 css */
@media (min-width: 800px) {
    .container {
      display: grid;
      
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 5%;
      padding-top: 5%;
      
      grid-auto-rows: minmax(100px, auto);
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  /* width가 800px 이하일 때 적용되는 css */
  @media (max-width: 800px) {
    .container {
      display: grid;
      
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 5%;
      padding-top: 5%;
      
      grid-auto-rows: minmax(100px, auto);
      grid-template-columns: 1fr 1fr;
    }
  }