/* 구글 폰트 import  */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

a {
    color: black;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.Content {
	text-transform: uppercase;
    position: relative;
    margin: 1vh;
    padding: 4vh;
    min-height: 180px;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    transition: all 1.5s cubic-bezier(.25,.8,.25,1);
    animation: fade-in 2s;
}

.Content img {
    position: absolute;		
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    max-width: 160px;
    max-height: 100px;
    min-width: 120px;
    min-height: 120px;
}

.Content:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Content:hover img {
    opacity: 0;
    transition: all 0.3s ease;	
}

.Content:hover .Text {
    margin: 0;		
    color: black;
    opacity: 1;
} 

.Text {
	position: absolute;		
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
    text-align: center;			
}