body .fire {
    display: inline-block;
    transform: translate(-50%);
    height: 3rem;
    width: 3rem;
}
body .fire .flames {
    z-index: -1;
    position: absolute;
    bottom: 55%;
    left: 50%;
    width: 60%;
    height: 60%; 
    transform: translateX(-50%) rotate(45deg);
}
body .fire .flames .flame {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 0%;
    height: 0%;
    background-color: #ffdc01;
    border-radius: 1vw;
}
.animated {
    transition-duration: 3s;
}

body .fire .flames .flame:nth-child(2n + 1) {
    animation: flameodd 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(2n) {
    animation: flameeven 1.5s ease-in infinite;
}
body .fire .flames .flame:nth-child(1) {
    animation-delay: 0s;
}
body .fire .flames .flame:nth-child(2) {
    animation-delay: 0.375s;
}
body .fire .flames .flame:nth-child(3) {
    animation-delay: 0.75s;
}
body .fire .flames .flame:nth-child(4) {
    animation-delay: 1.125s;
}

@keyframes flameodd {
    0%, 100% {
        width: 0%;
        height: 0%;
   }
    25% {
        width: 100%;
        height: 100%;
   }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
   }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
   }
    100% {
        background-color: #f73b01;
        z-index: -10;
   }
    0% {
        right: 0%;
        bottom: 0%;
   }
    25% {
        right: 1%;
        bottom: 2%;
   }
    100% {
        right: 150%;
        bottom: 170%;
   }
}
@keyframes flameeven {
    0%, 100% {
        width: 0%;
        height: 0%;
   }
    25% {
        width: 100%;
        height: 100%;
   }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
   }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
   }
    100% {
        background-color: #f73b01;
        z-index: -10;
   }
    0% {
        right: 0%;
        bottom: 0%;
   }
    25% {
        right: 2%;
        bottom: 1%;
   }
    100% {
        right: 170%;
        bottom: 150%;
   }
}

#HomeButton {
    color: #fdac01;
    position: fixed;
    right: 15px;
    top : 15px;
    width: 80px;
    height: 80px;
}

