  .toggle {
    transition-duration:1s;
    width: 50px;
    /* height: 30px; */
    /* margin: 10px auto; */
  }
  
  .toggle div {
    width: 100%;
    height: 5px;
    background: rgb(255, 136, 1);
    margin: 4px auto;
    transition: all 0.6s;
    backface-visibility: hidden;
  }

  .toggle:hover {
    transform : translate(0px, -10px);
  }