/* 구글 폰트 import (500 medium) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* width가 800px 이상일 때 적용되는 css */
@media (min-width: 800px) {
  .container-content {
    display: grid;
    background-color: white;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* width가 800px 이하일 때 적용되는 css */
@media (max-width: 800px) {
  .container-content {
    display: grid;
    background-color: white;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr 1fr;
  }

}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header_text {
  background-color: #282c34;
  color: white;
  font-size: 3rem;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 원래 있던 css들 */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
